* {
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
  margin: 0;
}


.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.grid {
  border: 1px solid black;
  width: 500px;
}

.grid div {
  display: inline-block;
  aspect-ratio: 1;
  background-color: #888;
}
.baby {
  background-image: url(../assets/baby.png);
  background-size: cover;
}

.cyclist {
  background-image: url(../assets/cyclist.png);
  background-size: cover;
}

.car1 {
  background-image: url(../assets/car1.png);
  background-size: cover;
}

.car2 {
  background-image: url(../assets/car2.png);
  background-size: cover;
}

.van {
  background-image: url(../assets/van.png);
  background-size: cover;
}