
.grid {
  border: 1px solid black;
  height: 700px;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.home {
  background-image: url(../assets/parents.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: burlywood;
}

.start, .pavement {
  background-color: burlywood;
}

.cyclist-right, .car-right, .car-left, .van-left {
  background-color: #888;

}

.baby {
  background-image: url(../assets/baby.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.ob1, .ob2 {
  background-image: url(../assets/car2.png);
  background-size: contain;
}

.ob7, .ob8 {
  background-image: url(../assets/cyclist.png);
  background-size: contain;
}

.ob9, .ob10 {
  background-image: url(../assets/van.png);
  background-size: contain;
}

.ob15, .ob16 {
  background-image: url(../assets/car1.png);
  background-size: contain;
}

.ob3, .ob4, .ob5, .ob6, .ob11, .ob12, .ob13, .ob14 {
  background-color: #888;
}

#life-lost-popup, #game-over-popup, #game-win-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.heart {
  background-image: url(../assets/heart.gif);
  background-size: contain;
  
}

