* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: blueviolet;
}

.game {
  position: relative;
  width: 500px;
  height: 500px;
}

.baby {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../assets/baby.png);
  transition: left 0.2s, bottom 0.2s;
}

.road {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #888;
}

.car1,
.car2,
.van,
.cyclist {
  position: absolute;
  width: 40px;
  height: 20px;
}

.cyclist {
  background-image: url(../assets/cyclist.png);
}

.car1 {
  background-image: url(../assets/car1.png);
}

.car2 {
  background-image: url(../assets/car2.png);
}

.van {
  background-image: url(../assets/van.png);
}

.obstacle-image {
  width: 100%;
  height: 100%;
  background-color: #000; 
}